exclude: ^(.idea|.vscode)/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    # https://github.com/pre-commit/pre-commit-hooks
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
      - id: shfmt
        exclude: "gradlew"

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        name: C++ Clang-format
        files: ^cpp/

  - repo: local
    hooks:
      - id: gofmt
        name: go format
        description: Run gofmt on files included in the commit.
        entry: sh -c 'cd go && gofmt -s -w .'
        pass_filenames: false
        types: [file, go]
        language: system
        files: ^go/

      - id: java
        name: Java format
        description: Run spotless format on files included in the commit.
        entry: sh -c 'cd java && ./gradlew spotlessApply'
        pass_filenames: false
        types: [file, java]
        language: system
        files: ^java/

      - id: kotlin
        name: Kotlin format
        description: Run spotless format on files included in the commit.
        entry: sh -c 'cd kotlin && ./gradlew spotlessApply'
        pass_filenames: false
        types: [file, kotlin]
        language: system
        files: ^kotlin/

      - id: dotnet
        name: Dotnet format
        description: Run dotnet format on files included in the commit.
        entry: sh -c 'cd csharp && dotnet format'
        pass_filenames: false
        types: [file, c#]
        language: system
        files: ^csharp/

      - id: python
        name: Python Ruff
        description: Run Ruff format and lint on files included in the commit.
        entry: sh -c 'cd python && uv run ruff format && uv run ruff check --fix'
        pass_filenames: false
        types: [file, python]
        language: system
        files: ^python/

      - id: rust-fmt
        name: Rust format
        description: Run cargo fmt on files included in the commit.
        entry: sh -c 'cd rust && cargo fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: rust-clippy
        name: Rust lint
        description: Run cargo clippy on files included in the commit.
        entry: sh -c 'cd rust && cargo clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: swiftformat
        name: Swift format
        description: Run swiftformat on files included in the commit.
        entry: sh -c 'cd swift && command -v swiftformat >/dev/null 2>&1 && swiftformat --lint . || :'
        pass_filenames: false
        types: [file, swift]
        language: system
        files: ^swift/
