name: Go

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/go.yml"
      - "go/**.go"
      - "go/**.mod"
      - "go/**.sh"
      - "go/**.sum"
  pull_request:
    paths:
      - ".github/workflows/go.yml"
      - "go/**.go"
      - "go/**.mod"
      - "go/**.sh"
      - "go/**.sum"

# Cancel previous runs for PRs but not pushes to main
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

defaults:
  run:
    shell: bash
    working-directory: go

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: "Check go version"
        run: go version

      - name: Build
        run: chmod +x build.sh && ./build.sh

      - name: Format
        run: chmod +x format.sh && ./format.sh --check

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: go
