name: Python

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/python.yml"
      - "python/**.py"
      - "python/uv.lock"
      - "python/pyproject.toml"
  pull_request:
    paths:
      - ".github/workflows/python.yml"
      - "python/**.py"
      - "python/uv.lock"
      - "python/pyproject.toml"

# Cancel previous runs for PRs but not pushes to main
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

defaults:
  run:
    shell: bash
    working-directory: python

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Python environment
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          working-directory: python

      - name: Sync dependencies
        run: uv sync --all-groups --frozen

      - name: Ruff format
        run: uv run ruff format --check

      - name: Ruff lint
        run: uv run ruff check --diff

      - name: Run tests
        run: uv run pytest --verbose --cov=othello tests
