name: Rust

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/rust.yml"
      - "rust/**.rs"
      - "rust/Cargo.lock"
      - "rust/Cargo.toml"
  pull_request:
    paths:
      - ".github/workflows/rust.yml"
      - "rust/**.rs"
      - "rust/Cargo.lock"
      - "rust/Cargo.toml"

# Cancel previous runs for PRs but not pushes to main
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: ${{ github.event_name == 'pull_request }}

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    shell: bash
    working-directory: rust

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "rust -> target"

      - name: Build
        run: cargo build

      - name: Run tests
        run: cargo test --no-fail-fast

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy, rustfmt

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "rust -> target"

      - name: Check formatting
        run: cargo fmt --check --verbose

      - name: Lint
        # Exit non-zero if there are any warnings
        # https://doc.rust-lang.org/stable/clippy/usage.html
        run: cargo clippy -- -Dwarnings
