name: Swift

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/swift.yml"
      - "swift/**.swift"
      - "swift/Package.resolved"
  pull_request:
    paths:
      - ".github/workflows/swift.yml"
      - "swift/**.swift"
      - "swift/Package.resolved"

# Cancel previous runs for PRs but not pushes to main
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

defaults:
  run:
    shell: bash
    working-directory: swift

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      # This does not seem to be maintained anymore,
      # has not been updated to support Swift 6
      #- uses: swift-actions/setup-swift@v2
      #  with:
      #    swift-version: "6"

      - name: Check Swift version
        run: swift --version

      - name: Cache Swift Package Manager dependencies
        uses: actions/cache@v5
        with:
          path: swift/.build
          key: ${{ runner.os }}-spm-${{ hashFiles('swift/Package.resolved') }}
          restore-keys: ${{ runner.os }}-spm-

      - name: Install dependencies
        run: swift package --only-use-versions-from-resolved-file resolve

      - name: Build
        run: chmod +x build.sh && ./build.sh
